---
http_interactions:
- request:
    method: post
    uri: https://api.dune.com/api/v1/execution/01GHGBV67167FF47J3MF010A90/status
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Dune-Api-Key:
      - 9l7rIhBvhVHShFbMVAriMEeiaNOAtK61
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 10 Nov 2022 12:05:07 GMT
- request:
    method: get
    uri: https://api.dune.com/api/v1/execution/01GHGBV67167FF47J3MF010A90/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Dune-Api-Key:
      - 9l7rIhBvhVHShFbMVAriMEeiaNOAtK61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"execution_id":"01GHGBV67167FF47J3MF010A90","query_id":312527,"state":"QUERY_STATE_FAILED","submitted_at":"2022-11-10T08:52:29.026525Z","expires_at":"2024-11-09T09:22:37.266988Z","execution_started_at":"2022-11-10T08:52:37.249545981Z","execution_ended_at":"2022-11-10T09:22:37.266987958Z"}'
  recorded_at: Thu, 10 Nov 2022 12:08:12 GMT
recorded_with: VCR 6.1.0
