---
http_interactions:
- request:
    method: post
    uri: https://api.dune.com/api/v1/query/312527/execute
    body:
      encoding: UTF-8
      string: '{"query_parameters":{"grouping_parameter":2}}'
    headers:
      Content-Type:
      - application/json
      X-Dune-Api-Key:
      - 9l7rIhBvhVHShFbMVAriMEeiaNOAtK61
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"unknown parameters (grouping_parameter)"}'
  recorded_at: Thu, 10 Nov 2022 12:28:46 GMT
- request:
    method: post
    uri: https://api.dune.com/api/v1/query/1572338/execute
    body:
      encoding: UTF-8
      string: '{"query_parameters":{"grouping_parameter":2}}'
    headers:
      Content-Type:
      - application/json
      X-Dune-Api-Key:
      - 9l7rIhBvhVHShFbMVAriMEeiaNOAtK61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"execution_id":"01GHGT0WXHZ7PCA23R11PPN6TR","state":"QUERY_STATE_PENDING"}'
  recorded_at: Thu, 10 Nov 2022 13:00:16 GMT
recorded_with: VCR 6.1.0
