---
http_interactions:
- request:
    method: get
    uri: https://api.dune.com/api/v1/execution/01GHGT0WXHZ7PCA23R11PPN6TR/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Dune-Api-Key:
      - 9l7rIhBvhVHShFbMVAriMEeiaNOAtK61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"execution_id":"01GHGT0WXHZ7PCA23R11PPN6TR","query_id":1572338,"state":"QUERY_STATE_COMPLETED","submitted_at":"2022-11-10T13:00:16.178634Z","expires_at":"2024-11-09T13:00:18.743991Z","execution_started_at":"2022-11-10T13:00:16.180711Z","execution_ended_at":"2022-11-10T13:00:18.74399Z","result":{"rows":[{"24
        Hours Volume":5147473869.405071,"7 Days Volume":16422493697.074032,"Project":"Uniswap","Rank":1},{"24
        Hours Volume":2128044339.045551,"7 Days Volume":4018636274.888033,"Project":"Curve","Rank":2},{"24
        Hours Volume":162471623.28743213,"7 Days Volume":1728450869.262495,"Project":"DODO","Rank":3},{"24
        Hours Volume":268336036.7564088,"7 Days Volume":834924684.8763739,"Project":"Balancer","Rank":4},{"24
        Hours Volume":98846012.99495272,"7 Days Volume":425875970.21048546,"Project":"Sushiswap","Rank":5},{"24
        Hours Volume":60366325.27197541,"7 Days Volume":[...]
